body{
    margin: 0px 25px;
    background: url("../img/pattern2.jpg");

    font-family: Tahoma;
    line-height: 1.5;
    font-size: 18px;
    
}

.card{
    width: 400px;
    margin: 30px auto;

    padding: 20px;

    background-color:  #fff;
    box-shadow: 0 5 px 10 px #ccc;
    border-radius: 10px;
}

.card-photo {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 50%;
}

.card-title{
    font-size: 20px;
    text-align: center;
    color:rgb(121, 70, 41);
}

.card-text{
    font-size: 14px;
}

.card-subtitle{
    font-size: 18px;
    color:rgb(121, 70, 41);
}

.card-list{
    padding-left: 0;
    list-style-position : inside;
}